@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Gilroy";
}

@media (max-width: 500px) {
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
}